/tools/Step2_YOLOX/YOLOX/YOLOX_weights/best_ckpt.pth
/tools/Step6_classify/weights/weightB/0804_1338/
/tools/Step6_classify/weights/weightS/0803_1049/
/code/
/demo/negative/*.svs
/demo/positive/*.svs
/demo/positive/*.zip
/demo/id_project.txt
/demo.zip
/LungETC_dataset/Malignant_cells/
/LungETC_dataset/Benign_cells/
/demo/




